
nav ul li a { color: #010101; display: inline-block;text-decoration: none;  }


ul{
	list-style: none;
  

}

nav{ background-color:rgb(255, 255, 255);
    font-size: 20px;
    height: 60px;  
    
}

  
a{
  font-family: 'playfair';
	text-decoration: none;
	color: #000;
	display: block;
	padding: 10px 10px;
  text-align:justify;
}


.container{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
   
  }

  footer{
    padding: 0;
  }